body {
  margin: 1vh;
  padding: 0;
  background: #000;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* .grid {
  position: fixed;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
} */
.button {
  position: fixed;
  border-radius: 20px;
}
#b1 {
  background: #555;
  /* background: #0f0; */
}
#b2 {
  background: #555;
  /* background: #088; */
}
#b3 {
  background: #555;
  /* background: #04c; */
}
#bstart {
  /* opacity: .8; */
  position: fixed;
  top: 0;
  left: 0;
  background: lightblue;
  height: 100%;
  width: 100%;
}
#bstart-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (orientation: landscape) {
  .button {
    margin: 0;
    height: 96vh;
    width: 28.7vw;
    top: 2vh;
  }
  #b1 {
    left:5vw;
  }
  #b2 {
    left:35vw;
  }
  #b3 {
    left:65vw;
  }
  .button-icons {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #bstart-icon {
    height: 100vh;
  }
}
@media (orientation: portrait) {
  .button {
    margin: 0;
    width: 96vw;
    height: 28.7vh;
    left: 2vw;
  }
  #b1 {
    top:5vh;
  }
  #b2 {
    top:35vh;
  }
  #b3 {
    top:65vh;
  }
  .button-icons {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #bstart-icon {
    width: 100vw;
  }
}
