body {
  margin: 1vh;
  padding: 0;
  background: #000;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* .grid {
  position: fixed;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
} */
.button {
  position: fixed;
  border-radius: 20px;
}
#b1 {
  background: #555;
  /* background: #0f0; */
}
#b2 {
  background: #555;
  /* background: #088; */
}
#b3 {
  background: #555;
  /* background: #04c; */
}
.invisible {
  opacity: 0;
}
#bstart {
  /* opacity: .8; */
  position: fixed;
  top: 0;
  left: 0;
  background: lightblue;
  height: 100%;
  width: 100%;
}
#bstart-icon {
  position: fixed;
  top: 50%;
  left: 50%;
}

@media (orientation: landscape) {
  .button {
    margin: 0;
    height: 96vh;
    width: 27vw;
    top: 2vh;
  }
  .b1 {
    left:2vw;
  }
  .b2 {
    left:31vw;
  }
  .b3 {
    left:60vw;
  }
  .button-icons {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #bstart-icon {
    height: 100vh;
    transform: translate(-50%, -50%);
  }
}
@media (orientation: portrait) {
  .button {
    margin: 0;
    width: 96vw;
    height: 27vh;
    left: 2vw;
  }
  .b1 {
    top:2vh;
  }
  .b2 {
    top:31vh;
  }
  .b3 {
    top:60vh;
  }
  .button-icons {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
  #bstart-icon {
    width: 100vw;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
